.overlay {
    height: 100%;
}

.bg {
    display: none;
}

.booking-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -4;

}

.form-container {
    background-color: white;
    width: 50vw;
    min-height: 80vh;
    border-radius: 30px;
    margin-left: 8vw;
    margin-top: 60px;
    padding: 30px 40px;

    font-family: 'Montserrat', sans-serif;

    display: flex;
    flex-direction: column;
}

.form-proper {
    width: 100%;
}

h1, h3 {
    margin-bottom: 15px;
    font-weight: 600;
}

.input-row {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

label {
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

input,
select,
textarea {
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    transition: border-color 0.2s ease;
    font-family: inherit;
    background-color: #f8f8f8;
}

input:focus,
select:focus,
textarea:focus {
    border-color: #0099ff;
    background-color: #ffffff;
}

textarea {
    height: 100px;
    width: 90%;
    resize: none;
}

.submit-btn {
    width: 100%;
    padding: 14px;
    margin-top: 10px;

    background-color: black;
    color: white;
    border: none;
    border-radius: 12px;

    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: background 0.2s ease;
}

.submit-btn:hover {
    background-color: #333;
}
