html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.bg {
    position: fixed;
    width: 100%;
    height: calc(100vh - 10vh);
    display: block;
    object-fit: cover;
    z-index: -2;
}

.overlay {
    position: absolute;
    width: 100%;
    height: calc(100vh - 10vh);
    background: rgba(46, 64, 46, 0.38);
    z-index: -1;    
}

.navbar {
    margin: 0;
    padding: 0;
    height: 10vh;

    display: flex;
    flex-direction: row;
    
    align-items: center;
    justify-content: space-between;

    background-color: white;
}

.navbar h1 {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 40px;
    font-weight: 900;
    color: black;
}
.nav-links {
    margin-right: 40px;
}
.nav-links a {
    text-decoration: none;
    color: black;
    margin-left: 30px;

    display: inline-block;
    transition: transform 0.2s ease, color 0.2s ease;
}
.nav-links a:hover {
    color: grey;
    transform: translateY(-3px);
}
.nav-links button {
    margin-left: 30px;
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    transition: transform 0.2s ease, background-color 0.2s ease;
}
.nav-links button:hover {
    background-color: #333;
    transform: translateY(-3px);
    cursor: pointer;
}

.welcome-div {
    /* text-align: center; */
    color: white;
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
}

.welcome-div h1 {
    font-size: 60px;
    margin-bottom: 10px;
}

.welcome-div p {
    font-size: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

.book-btn {
    background-color: black;
    color: white;
    padding: 12px 24px;

    font-size: 16px;
    font-weight: 600;

    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.book-btn:hover {
    background-color: #333;
}