<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DentalX{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% block styles %} {% endblock %}
</head>

<body>
    <div class="overlay">
    </div>

    <nav class = "navbar">
        <h1>DentalX</h1>

        <div class="nav-links">
            <a href="{{ url_for('index')}}">Home</a>
            <a href="{{ url_for('services')}}">Services</a>
            <!-- <a href="#">Patient Info</a> -->
            <a href="{{ url_for('admin_auth_bp.admin_login') }} ">Log In</a>
            <button type="button" onclick="window.location = '{{ url_for('appointment_bp.book_page') }}'">Book Now</button>
            <!-- <a href="#">Book Now</a> -->
        </div>
    </nav>
    
    <img src="{{ url_for('static', filename='images/dentist-bg.JPG') }}" class="bg">
    
    {% block content %}
    <div class="welcome-div">
        <h1 class="welcome-text">Your Smile,<br>Our Priority</h1>
        <p class="welcome-text-">
            Where your dental health is treated with precision and care.
        </p>
        <button class="book-btn">Book an Appointment</button>

    </div>
    {% endblock %}

    {% block scripts %}
    {% endblock %}

</body>
</html>
