<!-- ACCESSIBLE THROUGH: http://127.0.0.1:5000/patientform -->

{%extends "index.html"%}

{% block title %} Patient Form{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/patient.css') }}">
{% endblock %}


{% block content %}
<div class = 'form-wrapper'>
    <h1> Patient Information Form</h1>
    <form method="POST" action="/api/patient">
        <input type="hidden" name="appointment_id" value="{{ appointment_id }}">

        <h3>Personal Information</h3>
        <div class="form-group">
            <label> Full Name</label>
            <input type="text" name="full_name" 
                value="{{ patient_info.full_name if patient_info else '' }}" 
                readonly required>

            <label> Email</label>
            <input type="email" name="email" 
                value="{{ patient_info.email if patient_info else '' }}" 
                readonly required>

            <label> Contact Number</label>
            <input type="text" name="contact_number" 
                value="{{ patient_info.contact_number if patient_info else '' }}" 
                readonly required>
        </div>

        <hr>

        <h3>Address</h3>
        <div class="form-group">
            <label> State</label>
            <input type="text" name="address_state">

            <label> City</label>
            <input type="text" name="address_city">
        </div>

        <hr>

        <h3>Insurance Details</h3>
        <div class="form-group">
            <label>Provider</label>
            <input type="text" name="insurance_provider">

            <label>Policy Number</label>
            <input type="text" name="insurance_policy_number">
        </div>

        <hr>

        <h3>Medical History</h3>
        <div class="form-group">
            <label>Existing Medical Conditions</label>
            <textarea name="conditions"></textarea>

            <label>Current Medications</label>
            <textarea name="current_medications"></textarea>

            <label>Allergies</label>
            <input type="text" name="allergies">

            <label>Family History</label>

            <label class="checkbox">
                <input type="checkbox" name="family_history" value="diabetes"> Diabetes
            </label>
            <label class="checkbox">
                <input type="checkbox" name="family_history" value="cancer"> Cancer
            </label>
            <label class="checkbox">
                <input type="checkbox" name="family_history" value="Hypertension"> Hypertension
            </label>
            <label class="checkbox">
                <input type="checkbox" name="family_history" value="heart_disease"> Heart Disease
            </label>
        </div>

        <hr>

        <h3>Dental History</h3>
        <div class="form-group">
            <label>Last Visit</label>
            <input type="date" name="dental_last_visit">

            <label>Reason for Visit</label>
            <input type="text" name="dental_reason">

            <label>Previous Dental Work</label>
            <textarea name="dental_previous_work"></textarea>

            <label>Current Concerns</label>
            <textarea name="dental_current_concerns"></textarea>
        </div>

        <hr>

        <button type="submit" class="submit-btn">Submit Form</button>
    </form>
</div>
{% endblock %}

